header {
    padding: 20px;
    h1{
        color: rgb(92, 69, 156);
    }

    p{
        font-size: 18px;
        color: gray;
    }

    ul {
        display: block;
        line-height: 1.4;
        li{
            margin: 5px;
            display: inline;
            a {
                text-decoration: none;
                &:hover{
                  color: red;
                }
            }
        }
    }
}

.btn-default{
    padding: 10px 16px;
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #333;
    background-color: white;
    &:hover{
        opacity: 0.9;
    }
}

.btn-blue{
    @extend .btn-default;
    border: 1px solid rgb(56, 58, 196);
    color: rgb(255, 255, 255);
    background-color: rgb(82, 73, 163);
}

.btn-red{
    @extend .btn-default;
    border: 1px solid black;
    color: white;
    background-color: rgb(202, 36, 36);
}