body {           
    background-image: url('imagens/labi.jpg');
    background-position: top;
    background-color: rgb(0, 0, 0);
    background-attachment: fixed;
    background-repeat: no-repeat;
    border-top:3px solid #ed145b;
    border-bottom:3px solid #ed145b;
}